/.DS_Store
/VSC Workspace
Docs/.DS_Store
Docs/1. Planning/.DS_Store
Docs/2. Requirements/.DS_Store
Docs/3. Design/.DS_Store
src/ArcherFinancial/.idea/.gitignore
src/ArcherFinancial/.gitignore
src/.DS_Store
Docs/.DS_Store
Workspace/.DS_Store
Workspace/Archer Financial.code-workspace
Docs/.DS_Store
